BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "M14" ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led0" SITE "N13" ;
IOBUF PORT "rclk_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdio_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdio_out" SITE "P13" ;
LOCATE COMP "sclk_out" SITE "M4" ;
LOCATE COMP "rclk_out" SITE "P3" ;
LOCATE COMP "key" SITE "M13" ;
IOBUF PORT "key" IO_TYPE=LVCMOS33 ;
LOCATE COMP "col[0]" SITE "H3" ;
LOCATE COMP "col[1]" SITE "J2" ;
LOCATE COMP "col[2]" SITE "J3" ;
LOCATE COMP "col[3]" SITE "K2" ;
IOBUF PORT "col[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "col[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "row[0]" SITE "P6" ;
LOCATE COMP "row[1]" SITE "N5" ;
LOCATE COMP "row[2]" SITE "L3" ;
LOCATE COMP "row[3]" SITE "K3" ;
IOBUF PORT "row[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "row[3]" IO_TYPE=LVCMOS33 ;
