BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "M14" ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "led0" SITE "N13" ;
IOBUF PORT "rclk_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdio_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdio_out" SITE "P13" ;
LOCATE COMP "sclk_out" SITE "M4" ;
LOCATE COMP "rclk_out" SITE "P3" ;
LOCATE COMP "key" SITE "M13" ;
IOBUF PORT "key" IO_TYPE=LVCMOS33 ;
