BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "M8" ;
LOCATE COMP "buzzer_o" SITE "N4" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "buzzer_o" IO_TYPE=LVCMOS33 ;
