BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_spi_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_spi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dac_spi_mosi" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
LOCATE COMP "dac_spi_cs" SITE "J14" ;
LOCATE COMP "dac_spi_clk" SITE "K12" ;
LOCATE COMP "dac_spi_mosi" SITE "K14" ;
