BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "M13" ;
LOCATE COMP "lcd_blk" SITE "G13" ;
LOCATE COMP "lcd_dc" SITE "P8" ;
LOCATE COMP "lcd_reset" SITE "N8" ;
LOCATE COMP "lcd_spi_cs" SITE "N6" ;
LOCATE COMP "lcd_spi_mosi" SITE "N7" ;
LOCATE COMP "lcd_spi_sclk" SITE "P7" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_blk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_dc" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_spi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_spi_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcd_spi_sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ttl_rx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ttl_tx_o" SITE "F12" ;
IOBUF PORT "ttl_tx_o" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ttl_rx" SITE "E12" ;
